<ion-view view-title="Dope<span>Wak</span>">
  <ion-content class="padding">
    <!-- <h2>Login</h2>
      
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="creds.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="creds.password">
      </label>
    </div>

    <button class="button button-block button-positive activated" ng-click="login()">Sign In</button> -->
    <button class="button button-block button-balanced" ng-click="loginWithFacebook()"><i style="margin-right: 5px;" class="fa fa-facebook-official" aria-hidden="true"></i> Sign in with Facebook</button>
  </ion-content>
</ion-view>
