<ion-view view-title="Dope<span>Wak</span>">
  <ion-content class="has-footer" scroll="false">
    <div class="user-info">
        <img ng-src="{{currentUser.photoURL}}">
        <h1>{{currentUser.displayName}}</h1>
        <span class="dopes"><span class="number">{{currentUser.dopes}}</span> Dope<span ng-if="currentUser.dopes >= 2">s</span></span>
        <span class="wacks"><span class="number">{{currentUser.wacks}}</span> Wack<span ng-if="currentUser.wacks >= 2">s</span></span>
    </div>

    <td-cards>
      <a href="#/tab/cards/{{card.$id}}" ng-repeat="card in cards"><td-card on-swipe-left="cardSwipedLeft($index, card.$id)" on-swipe-right="cardSwipedRight($index, card.$id)">
        {{card.title}}
      </td-card></a>
    </td-cards>
  </ion-content>

	<ion-footer-bar align-title="right" class="bar-positive">	  
	    <button style="width: 100%;" class="button button-clear" ng-click="addCard()"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Card</button>
	</ion-footer-bar>
</ion-view>